@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Montserrat:400,700|Crimson+Text:400,400i,600,600i,700,700i|Roboto+Slab:100,300,400,700');

@font-face {
  font-family:gotham-black-webfont;
  src: url(../fonts/gotham-black-webfont.ttf);
}
@font-face {
  font-family:FuturaLT-Book;
  src: url(../fonts/FuturaLT-Book.ttf);
}
@font-face {
  font-family:gotham-book;
  src: url(../fonts/gotham-book-webfont.ttf);
}
@font-face {
  font-family:gotham-bold;
  src: url(../fonts/gotham-bold-webfont.ttf);
}
@font-face {
  font-family:gotham-medium;
  src: url(../fonts/gotham-medium-webfont.ttf);
}
*{
	overflow-x: hidden;
	color: #19427d;
}

body{
		font-family: gotham-black-webfont;
		
}
header{
	background: #0C0C0C;
	padding: 0rem 0;
}
header .logo-section{
	display: flex;
	
	justify-content: space-between;align-items: center;
}
header img{
	max-width: 85%;
	max-height: 13vh;
}

header .container{
	position: absolute;
	width: 100vw;
	padding:1rem 15vw;
}

main .btn{
	background: #fcce07;
	padding: .3rem 1rem;
	text-align: center;
	color: 	#000;
	
	text-transform: uppercase;
	font-weight: normal;
	margin: .8rem 0;
  font-family:gotham-book;
  font-size: 20pt;
}
main .responsive .gallery{
	margin: .3rem;
	width: 20vw;
	max-height: 15vh;
	object-fit: cover;
	
}
main .responsive img{
		width: 100%;
		object-fit: cover;
		max-height: 15vh;
		/* margin: 0 auto; */
}


footer{
	/* background: #0C0C0C; */
	color: #7b7b7b;
	padding: 1rem 0;
	text-align: center;
	font-family: Lato;
    font-size: 11px;
	font-weight: 500;
	width: 100vw !important;
	
	
	width: 90vw;
}
footer .fa{
	color: #7b7b7b;
}

.modal{
	top:40vh !important;
}

#banner-image{
	object-fit: cover;
	object-position: bottom;

	width: 100vw !important;
	max-height: 90vh;
	right: 0;

}
.r-logo{
	position: absolute;
	right:0;
	padding-right: 10px;


}
h1{
	/* color: #eeeeee; */
	font-family: gotham-medium;
}
h1 span{
	color: #fcce07;
	font-weight: 500 !important;
	-webkit-text-stroke: 0.2px #19427d;

	
}
.p-10{
	padding: 3rem;
}
.desc-text{
	font-size: 15pt;
	font-family: gotham-book;
	
}

.text{
	color: #fcce07;
	background-color: #7b7b7b99;
}

#fixed-download{
	position: fixed;
	top: 40vh;
	right: -200px;
	width: 200px;
	height: 40px;
	line-height: 20px;
	transform-origin: 0 0;
  transform: rotate(90deg);
  background-color: #fcce07ee;
	color: #0C0C0C;
	z-index: 999;
	cursor: pointer;


}

.mySlides1, .mySlides{
	text-align: center;
}

.mySlides1 img{
	position: relative;
	/* max-width: 70%; */
	max-height: 50vh;
	margin:auto;
	object-fit: cover;

}



hr{
	padding-bottom:10px ;
	border-bottom:  #fcce07ee 1px solid;
}


/* Carousel CSS Do not Touch*/

/** * Carousel.sass * @author: Dang Van Thanh * @github: https://github.com/dangvanthanh/carousel.sass * @description: A Simple Carousel Pure CSS Using Sass * @version: 1.0.0 */
.carousel > input[type="radio"]:nth-child(1):checked ~ .carousel__prev > label:nth-child(5), .carousel > input[type="radio"]:nth-child(1):checked ~ .carousel__next > label:nth-child(2), .carousel > input[type="radio"]:nth-child(2):checked ~ .carousel__prev > label:nth-child(1), .carousel > input[type="radio"]:nth-child(2):checked ~ .carousel__next > label:nth-child(3), .carousel > input[type="radio"]:nth-child(3):checked ~ .carousel__prev > label:nth-child(2), .carousel > input[type="radio"]:nth-child(3):checked ~ .carousel__next > label:nth-child(4), .carousel > input[type="radio"]:nth-child(4):checked ~ .carousel__prev > label:nth-child(3), .carousel > input[type="radio"]:nth-child(4):checked ~ .carousel__next > label:nth-child(5), .carousel > input[type="radio"]:nth-child(5):checked ~ .carousel__prev > label:nth-child(4), .carousel > input[type="radio"]:nth-child(5):checked ~ .carousel__next > label:nth-child(1) {
	opacity: 1 !important;
	z-index: 3;
  }
  *, *:before, *:after {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
  }
  
  .container-carousel {
	width: 900px;
	/* min-width: 900px; */
	max-width: 100vw;
	margin: 50px auto;
  }
  .carousel {
	width: 100%;
	max-width: 100vw;
	position: relative;
	overflow: hidden;
  }
  .carousel > input[type="radio"] {
	position: absolute;
	left: 0;
	opacity: 0;
	top: 0;
  }
  .carousel > input[type="radio"]:checked ~ .carousel__items .carousel__item, .carousel > input[type="radio"]:checked ~ .carousel__prev > label, .carousel > input[type="radio"]:checked ~ .carousel__next > label {
	opacity: 0;
  }
  .carousel > input[type="radio"]:nth-child(1):checked ~ .carousel__items .carousel__item:nth-child(1) {
	opacity: 1;
  }
  .carousel > input[type="radio"]:nth-child(1):checked ~ .carousel__nav > label:nth-child(1) {
	background: #ccc;
	cursor: default;
	pointer-events: none;
  }
  .carousel > input[type="radio"]:nth-child(2):checked ~ .carousel__items .carousel__item:nth-child(2) {
	opacity: 1;
  }
  .carousel > input[type="radio"]:nth-child(2):checked ~ .carousel__nav > label:nth-child(2) {
	background: #ccc;
	cursor: default;
	pointer-events: none;
  }
  .carousel > input[type="radio"]:nth-child(3):checked ~ .carousel__items .carousel__item:nth-child(3) {
	opacity: 1;
  }
  .carousel > input[type="radio"]:nth-child(3):checked ~ .carousel__nav > label:nth-child(3) {
	background: #ccc;
	cursor: default;
	pointer-events: none;
  }
  .carousel > input[type="radio"]:nth-child(4):checked ~ .carousel__items .carousel__item:nth-child(4) {
	opacity: 1;
  }
  .carousel > input[type="radio"]:nth-child(4):checked ~ .carousel__nav > label:nth-child(4) {
	background: #ccc;
	cursor: default;
	pointer-events: none;
  }
  .carousel > input[type="radio"]:nth-child(5):checked ~ .carousel__items .carousel__item:nth-child(5) {
	opacity: 1;
  }
  .carousel > input[type="radio"]:nth-child(5):checked ~ .carousel__nav > label:nth-child(5) {
	background: #ccc;
	cursor: default;
	pointer-events: none;
  }
  .carousel__items {
	margin: 0;
	padding: 0;
	list-style-type: none;
	width: 100%;
	max-width: 90vw;
	height: 600px;
	max-height: 80vw;
	position: relative;
  }
  .carousel__item {
	position: absolute;
	top: 0;
	left: 0;
	width: inherit;
	height: 100%;
	overflow: hidden;
	z-index: 1;
	transition: opacity 2s;
	-webkit-transition: opacity 2s;
  }
  .carousel__item img {
	width: 100%;
	max-width: 90vw;
	vertical-align: middle;
  }
  .carousel__prev > label, .carousel__next > label {
	border: 1px solid #fff;
	border-radius: 50%;
	cursor: pointer;
	display: block;
	background-color: #cccccc44;
	overflow: hidden;
	width: 40px;
	height: 40px;
	max-width: 5vw;
	max-height: 5vw;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	opacity: 0;
	z-index: 2;
  }
  .carousel__prev > label:hover, .carousel__next > label:hover, .carousel__prev > label:focus, .carousel__next > label:focus {
	opacity: 0.5 !important;
  }
  .carousel__prev > label:before, .carousel__next > label:before, .carousel__prev > label:after, .carousel__next > label:after {
	content: "";
	position: absolute;
	width: inherit;
	height: inherit;
  }
  .carousel__prev > label:before, .carousel__next > label:before {
	background: linear-gradient(to top, #fff 0%, #fff 10%, rgba(51, 51, 51, 0) 10%), linear-gradient(to left, #fff 0%, #fff 10%, rgba(51, 51, 51, 0) 10%);
	width: 60%;
	height: 60%;
	top: 20%;
  }
  .carousel__prev > label {
	left: 2%;
  }
  .carousel__prev > label:before {
	left: 35%;
	top: 20%;
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
  }
  .carousel__next > label {
	right: 2%;
  }
  
  @media screen and (max-width: 900px) {
	.carousel__next > label {
	  right: 12%;
	}
  
  }
  
  .carousel__next > label:before {
	left: 10%;
	transform: rotate(315deg);
	-webkit-transform: rotate(315deg);
  }
  .carousel__nav {
	position: absolute;
	bottom: 3%;
	left: 0;
	text-align: center;
	width: 100%;
	z-index: 3;
  }
  .carousel__nav > label {
	border: 1px solid #3339;
	display: inline-block;
	border-radius: 50%;
	cursor: pointer;
	margin: 0 0.125%;
	width: 20px;
	height: 20px;
  }
  